.container {
    margin: 0 20px;

    fieldset {
        margin-bottom: 20px;
    }

    .title_input {
        width: 100%;
    }

    .description_area {
        width: 100%;
    }

    .vditor {
        margin: 10px 0;
    }

    .save_btn {
        position: fixed;
        top: 50px;
        right: 50px;
        width: 70px;
        height: 70px;
    }
}
